<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
    <meta charset="UTF-8">
    <title>Angular Base64 Upload Demo</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript"
            src="bower_components/angular-base64-upload/dist/angular-base64-upload.min.js"></script>
    <script type="text/javascript" src="app.js">
    </script>
    <style>
        body {
            padding-bottom: 50px;
        }

        .alert {
            margin-top: 15px;
        }
    </style>
</head>
<body ng-controller="ctrl">
<div class="container">
    <form name="form">
        <h3>Upload Image</h3>

        <div class="input-group">
            <label for="file">Select File</label>
            <input type="file" ng-model="file" name="file" base-sixty-four-input required onloadend="loadEndHandler"
                   on-change="onChange" maxsize="500" accept="image/*">
        <span class="help-block">
          <ul>
              <li>required</li>
              <li>maxsize = 500</li>
              <li>accept = image/*</li>
          </ul>
        </span>
        </div>
        <div class="alert" ng-show="file&&form.file.$valid"
             ng-class="{'alert-danger': form.file.$invalid, 'alert-success': form.file.$valid}">
            form.file.$error:
            {{form.file.$error}}
        </div>
        <div ng-show="file">
            <b>Model Value:</b>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>filename</th>
                    <th>filetype</th>
                    <th>filesize (<i>
                        <small>KB</small>
                    </i>)
                    </th>
                    <th>base64</th>
                </tr>
                <tr>
                    <td>{{file.filename}}</td>
                    <td>{{file.filetype}}</td>
                    <td>{{file.filesize / 1000}}</td>
                    <td>{{file.base64.substring(0, 30)}}...</td>
                </tr>
                <tr>
                    <td colspan="4" ng-show="!file">
                        <small><i>No file selected.</i></small>
                    </td>
                </tr>
            </table>
        </div>
        <hr>
    </form>
    <div ng-show="url">
        <b> File Uploaded To:</b>
        <span>{{ url }}</span>
    </div>
    <div>
        <b> See All uploaded Images :</b>
        <span><a href="uploads/index.php">Uploads</a></span>
    </div>
</div>
</body>
</html>